<%- include('./includes/header') %>
<link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include('./includes/navbar') %>
    <div class="container-md">
        <div class="alert alert-danger" role="alert">
            Oops! Page not found :(
          </div>
    </div>
    <%- include('./includes/footer') %>